<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?eyeres\.com$ [NC]
RewriteRule ^(.*)$ https://eyeres.com%{REQUEST_URI} [E=UPGRADE,L,R=301]
</IfModule>
<IfModule mod_headers.c>
Header always set Content-Security-Policy "upgrade-insecure-requests;" env=UPGRADE
</IfModule>
RewriteEngine On

    # If an existing asset or directory is requested go to it as it is
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]

    # If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
